*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-size:cover ;
    font-size: 12px;
    font-family: Kumbh Sans;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    
}


.main{
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 2fr;
    z-index: 0;
    background-color: white;
    border-radius: 30px;
    width: 70%;
    height: 80vh;
    
    box-shadow:  -9px 20px 35px 9px hsl(240deg 37% 35%)
}
.img-holder{
    overflow: hidden;
    position: relative;
    
    z-index: 1;
}
.background{
    
    background-position: right;
    background-repeat: no-repeat;
    position: absolute;
    width: 130%;
    
    left: -50%;
    top: -10%;
    z-index: 2;
   
   
}
.illustration{
    
    background-repeat: no-repeat;
    width: 100%;
    
    margin-left: -5vw;
    margin-top: 4vw;
    
    z-index: 3;
    
    
}
.cube{
    
    background-repeat: no-repeat;
    top: -9%;
    left: 23%;
    margin-bottom: -11%;
    z-index: 4;
    position: relative;
    
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:90%;
    padding-top: 6%;
    padding-bottom: 13%;

}

.first-paragraph{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 2em;
    border-bottom: 1px solid hsl(240, 6%, 50%, 0.5);
    padding: 5% 0 3%;
    cursor: pointer;
    

    
}
.first-paragraph:hover {
    color: rgb(255, 115, 0);
}
 h3{
    font-weight: 500;
    

}
.active h3{
    font-weight: 600;
    color: black;
}
.active .first-paragraph{
border-bottom: none;

}
.active img{
    transform:rotate(180deg) ;
}
h1{
    font-size: 2.5em;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}
p {
    display: none;
    color: hsl(240, 6%, 50%);
}
.active p{
    display: block;
}
@media(max-width:375px){

    .main{
        margin-left: 8%;
    }
    .first-paragraph:hover {
        color: rgb(255, 115, 0);
    }
    h1{
        padding-bottom: 15%;
    }
    .cube{
        top: 4%;
    }
}



@media  (max-width: 700px) {

    body{
    margin-top: 12vh;
    display: block;
    height: 118vh;
    }
    .main{
    
    display: block;
    margin-top: 20%;
    width: 83%;
    height: 94vh;
    margin-left: 8%;
    
}
.img-holder{
    top: -43vw;
    overflow: visible;
}
.background{
    
    left: -21%;
    
}
.cube{
    width: 100px;
    top: 8%;
    left: 2%;
}
    section{
        padding-left: 7%;
        height: 20vh;
    }
}  
@media (min-width: 700px){

    .cube{
        top: -23%;
    left: -35%;
    width: 126px;
    }
}
@media(min-width: 1220px){

.cube{
left: -34%;
}

}